<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Inventario Kitty</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body style="text-align: center;">
    <h1>¡Hola! Bienvenido al <a href="/secreto" style="color:#ff3385; text-decoration:none;">inventario de Kitty</a></h1>
    <img src="https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExa29lZDV4ZTcxaG4ycjVqY2l1bmsyeThhd2loeWMxaWRmY2k4YWN3MyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/kZqbBT64ECtjy/giphy.gif" width="200">
    <br><br>
    <a href="/agregar" class="btn">Agregar</a>
    <a href="/borrar" class="btn">Borrar</a>
    <a href="/resumen" class="btn">Resumen</a>
</body>

</html>